/.DS_Store
/RoundaboutKitTests/.DS_Store
/RoundaboutKit.xcodeproj/project.xcworkspace/xcshareddata/

UserInterfaceState.xcuserstate

/RoundaboutKit.xcodeproj/project.xcworkspace/xcuserdata/km.xcuserdatad/WorkspaceSettings.xcsettings
